.header{
    height: 124px;
    background-color: #343a40;
    color:#Dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 150px;
    cursor: pointer;
  
  }

  .header h1{
      margin-left: 200px;
    

  }


.nav-links {
    text-decoration: none;
    color: #Dee2e6;
    font-size: 24px;
}

.dropdown {
    display: none;
  }

