.header-container {
    height: 100px;
    background-color: #343A40;
    color: #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

.header-container nav {
    width: 225px;
    display: flex;
    justify-content: space-evenly;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 24px;
    justify-content: space-between;
}