.Login{
    background-image: url('https://wallpaperaccess.com/full/1210877.jpg');
    background-size: cover;
    background-position: center;
}

.landing-container {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication-info {
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.authentication-info h1 {
    margin: 0;
}

.authentication-info span {
    text-decoration: underline;
    cursor: pointer;
}

.login-input {
    height: 30px;
    width: 350px;
    background-color: transparent;
    color: #dee2e6;
    border: none;
    border-bottom: 2px solid #6c757d;
    margin-bottom: 20px;
    font-size: 20px;
    outline: none;
  }

  .login-button {
    height: 30px;
    width: 350px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 20px;
    outline: none;
  }
  
  button:hover {
    background-color: white;
    color: #444445;
  }
  
  button:active {
    background-color: transparent;
    color: white;
  }